/gradle.properties
/gradlew.bat
/app/app.iml
/gradlew
/XyralityTest.iml
/xyrality-test.iml
/.idea
/gradle
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
